{% macro movie_details(movie, action='add') %}
<div class="row movie-container">
    <div class="col-md-8">
        {{movie}}
        {% if session['user'] and action == 'add' %}
        <p><a href="#add" class="btn btn-success btn-add-movie" data-title="{{movie.title}}" data-action="add">Add to your list</a></p>
        {% elif action == 'remove' %}
        <p><a href="#remove" class="btn btn-danger btn-remove-movie" data-title="{{movie.title}}" data-action="remove">Remove from your list</a></p>
        {% endif %}
    </div>
    <div class="col-md-4">
    {% if movie.poster_url %}
        <span class="poster"><img src="{{url_for('rehost_image', url=movie.poster_url)}}" /></span>
    {% endif %}
    </div>
</div>
{% endmacro %}

{% macro error_box(form) %}
{% if form.errors %}
    <div class="alert alert-danger">
        <p>There {{ "was an error" if form.errors|length == 1 else "were errors" }} on the form:</p>
        <ul>
            {% for error in form.errors.values() %}
            <li>{% for msg in error %}{{ msg }} {% endfor %}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endmacro %}

{% macro info_box(message) %}
{% if message %}
    <div class="alert alert-info">
        <p>{{ message }}</p>
    </div>
{% endif %}
{% endmacro %}
