{% macro movie_details(movie) %}
<div class="row movie-container">
    <div class="col-md-8">
        {{movie}}
    </div>
    <div class="col-md-4">
    {% if movie.poster_url %}
        <span class="poster"><img src="{{url_for('rehost_image', url=movie.poster_url)}}" /></span>
    {% endif %}
    </div>
</div>
{% endmacro %}

{% macro error_box(message) %}
{% if message %}
    <div class="alert alert-danger">
        <p><strong>Error:</strong> {{message}}</p>
        <p>Please fix the error and try submitting again.</p>
    </div>
{% endif %}
{% endmacro %}

{% macro info_box(message) %}
{% if message %}
    <div class="alert alert-info">
        <p>{{ message }}</p>
    </div>
{% endif %}
{% endmacro %}
